<?xml version="1.0" encoding="UTF-8"?>
<suite name="test" parallel="true">
	<test name="test" preserver-order="true">
		<classes>
			<class name="com.testcase.case1" /><!--测试类所在包 -->
			<method>

			</method>
		</classes>
		<listeners>
			<!--这是你需要加的东西 -->
			<listener class-name="org.uncommons.reportng.HTMLReporter" />
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		</listeners>

	</test> <!-- Test -->
</suite> <!-- Suite -->
